<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
</head>

<body>
    <div style="width: 1000px;" class="container border mt-3">
        <h5 class="m-3 fw-bolder">Edit profile</h5>
        <hr class="mx-3">
        <h6 class="m-3 fw-bolder">Basic Infromation</h6>
        <form #ProfileEditForm="ngForm" class="d-inline-flex flex-column mx-3">
            <div class="d-inline-flex flex-row">
                <div class="d-inline-flex flex-column">
                    <div>
                        <input name="username" [(ngModel)]="model.username" style="width: 500px;height: 50px;color: black;" type="text">
                        <textarea name="aboutMe" class="mt-4" style="height: 150px;width: 500px;color: black" [(ngModel)]="model.aboutMe"
                            [ngModelOptions]="{standalone: true}" maxlength="200"
                            placeholder="About Me(optional)"></textarea>
                    </div>
                    <div style="font-size: 12px;" class="fw-lighter">
                        <span>{{model.aboutMe.length}}</span>
                        <span>/200</span>
                    </div>
                </div>

                <div id="mo" style="height: 130px;width: 320px;position: absolute;right: 390px;margin-left: 800px;" class="container border">
                    <img style="width: 27px;height:25px;" src="/assets/images/lamp.jpg" alt="">
                    <label style="font-size: 15px;font-weight: 600;">Why is it important?</label>
                    <p style="font-size: 12px;font-weight: 400;opacity: 60%;">OLX is built on trust. Help other people
                        get to know you. Tell them about the things you like. Share your favorite brands, books, movies,
                        shows, music, food. And you will see the results…</p>
                </div>
                <hr>
            </div>
            <hr style="margin-top: 50px;">

            <div style="margin-bottom: 60px;">
                <h6 class="fw-bolder">Contact Infromation</h6>
                <input name="phoneNumber" [(ngModel)]="model.phoneNumber" class="me-3" style="width: 500px;height: 50px;color: black;margin-bottom: 30px;" type="text"
                    placeholder="    Phone Number: 01XXXXXXXXX">
                <label style="font-size: 12px;font-weight: 400;opacity: 60%;">This is the number for buyers contacts,
                    reminders, and other notifications.</label>
                <input name="email" [(ngModel)]="model.email" class="me-3" style="width: 500px;height: 50px;color: black;" type="email"
                    placeholder="    Your_email@xxx.xxx">
                <label style="font-size: 12px;font-weight: 400;opacity: 60%;">We won't reveal your email to anyone else
                    nor use it to send you spam</label>
            </div>
            <hr>
            <div>
                <a routerLink="/home" style="color: black;font-weight: 600;" class="text-decoration-underline">Discard</a>
                <button (click)="update()" class="btn btn-dark mb-4" style="float: right;height: 50px;font-weight: 500;">Save
                    changes</button>
            </div>
        </form>
    </div>

    <div style="width: 1000px;" class="container border mt-3">
        <h5 class="m-3 fw-bolder">Delete this account</h5>
        <hr class="mx-3">
        <h5 class="m-3 fw-bolder">Are you sure you want to delete your account?</h5>
        <button (click)="openModal(template)" class="btn btn-dark mb-4 mx-3" style="height: 50px;font-weight: 500;">Yes,
            Delete</button>
        <ng-template #template>
            <div class="modal-header">
                <h4 class="modal-title pull-left">There is still time to think!</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div style="text-align: center;" class="modal-body">
                <button class="btn btn-dark mb-4" style="height: 50px;font-weight: 500;">No, Delete</button>
            </div>
        </ng-template>
    </div>
</body>

</html>